<div ng-controller="RequestDocumentsProviderController" ng-init="findAcceptRequest()">
    <div class="row" class="form-group">
        <div class="col-md-3 col-lg-3">

            <h4>Город: {{acceptRequestDocuments.client.city}}</h4>

        </div>
   </div>
    <table border="1" class="table table-bordered">
        <caption>Материалы</caption>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Измерение</th>
            <th>Количество</th>
            <th>Доп. информ.</th>
            <th>Цена</th>
            <th>Цена с доставкой</th>
            <th>В наличий</th>
            <th>Комментарий</th>
        </tr>
        <tr ng-repeat="doc in acceptRequestDocuments.docs">
            <td>{{$index + 1}}</td>
            <td>{{doc.material.name}}</td>
            <td>{{doc.measure}}</td>
            <td>{{doc.amount}}</td>
            <td>{{doc.notes}}</td>
            <td>
                <span ng-if="doc.old_response">{{doc.old_response.price}}</span>
                <input ng-if="!doc.old_response" type="number" ng-model="doc.new_response.price"/>
            </td>
            <td>
                <span ng-if="doc.old_response">{{doc.old_response.price_deliver}}</span>
                <input ng-if="!doc.old_response" type="number" ng-model="doc.new_response.price_deliver"/>
            </td>
            <td>
                <span ng-if="doc.old_response">{{doc.old_response.exist}}</span>
                <input ng-if="!doc.old_response" type="checkbox" ng-model="doc.new_response.exist"/>
            </td>
            <td>
                <span ng-if="doc.old_response">{{doc.old_response.notes}}</span>
                <textarea ng-if="!doc.old_response" ng-model="doc.new_response.notes"></textarea>
            </td>
        </tr>
    </table>
    <div ng-show="acceptRequestDocuments.file_src">
        <a ng-href="uploads/{{acceptRequestDocuments.file_src}}">Open file</a>
    </div>
    <div data-ng-hide="acceptRequestDocuments.file_src">
        <label for="file_uploader"></label>
        <input id="file_uploader" type="file" nv-file-select uploader="uploader"/>
    </div>
    <button ng-show="!clicked" class="btn btn-primary" ng-init="clicked = false" ng-click="accept_request_doc_submit(); clicked = true">Отправить</button>
    <span ng-show="clicked">Успешно отправлено</span>
</div>
