<section data-ng-controller="RequestDocumentsModeratorController" data-ng-init="findResponse()">
    <div class="page-header">
        <h1>Ответы поставщиков</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="requestDocument in requestDocuments" data-ng-href="#!/response-documents/{{requestDocument._id}}" class="list-group-item">
            <small>{{requestDocument.user.displayName}}</small>
			<h4 class="list-group-item-heading" data-ng-bind="requestDocument.excel_id"></h4>
            <small>Время отправки: {{requestDocument.updated}}</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requestDocuments.$resolved || requestDocuments.length">
    	No Response documents yet
    </div>
</section>
