<section data-ng-controller="RequestDocumentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Запросы</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="requestDocument in requestDocuments" data-ng-href="#!/request-documents/{{requestDocument._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Отправлен
				<span data-ng-bind="requestDocument.created | date:'medium'"></span>
                от {{requestDocument.user.displayName}}
			</small>
			<h4 class="list-group-item-heading">
               ID {{requestDocument.excel_id}}

            </h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requestDocuments.$resolved || requestDocuments.length">
    	No Request documents yet
    </div>
</section>
