<section data-ng-controller="RequestDocumentsManagerController" data-ng-init="findLockedRequestDocument()">
    <div class="page-header">
        <h1>Запросы</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="requestDocument in lockedRequestDocuments" data-ng-href="#!/response-documents-locked/{{requestDocument._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Отправлен
                <span data-ng-bind="requestDocument.created | date:'medium'"></span>
                <span data-ng-bind="requestDocument.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading">
                {{requestDocument.client.name}}
                <span class="pull-right">
                    <span class="badge">Excel {{requestDocument.excel_id}}</span>
                </span>
            </h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requestDocuments.$resolved || requestDocuments.length">
        No Request documents yet
    </div>
</section>
