<section data-ng-controller="RequestDocumentsModeratorController" data-ng-init="findLockedResponse()">
    <div class="page-header">
        <h1>Отправленные</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="requestDocument in requestDocuments" data-ng-href="#!/response-documents-locked-moderator/{{requestDocument._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Отправлен
                <span data-ng-bind="requestDocument.created | date:'medium'"></span>
                <span data-ng-bind="requestDocument.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading">
                    <span>Excel {{requestDocument.excel_id}}</span>
            </h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!requestDocuments.$resolved || requestDocuments.length">
        No Request documents yet
    </div>
</section>
