<section ng-controller="RequestDocumentsManagerController" ng-init="findMeasures();">
    <div class="page-header">
        <h1>Новый запрос</h1>
    </div>
    <div class="col-md-12 form-group"  >

        <label for="excel_id">ID</label>
        <input class="form-control" type="text" id="excel_id" ng-disabled="requestDocument.$resolved" ng-model="requestDocument.excel_id"/>

        <button class="btn btn-primary" ng-click="findRequestDocument()">Найти/Создать</button>
        <hr/>
        <div ng-show="requestDocument.$resolved">
            <label for="name">Имя клиента</label>
            <input class="form-control" type="text" id="name" ng-model="requestDocument.client.name"/>

            <label for="email">Email клиента</label>
            <input class="form-control" type="text" id="email" ng-model="requestDocument.client.email"/>

            <label for="phone">Телефон клиента</label>
            <input class="form-control" type="text" id="phone" ng-model="requestDocument.client.phone"/>

            <label for="city">Город клиента</label>
            <input class="form-control" type="text" id="city" ng-model="requestDocument.client.city"/>
        </div>
        <hr/>
        <button ng-show="!saved && requestDocument.$resolved"  ng-init="saved = false" class="btn btn-primary" ng-click="create_update_request_document(unlock); saved = true">Save</button>
       <div ng-show="saved">
           <table border="1" ng-show="requestDocument.$resolved" class="table table-bordered" ng-show="requestDocument.client.name">
               <caption>Материалы</caption>
               <tr>
                   <th>№</th>
                   <th>Название</th>
                   <th>Измерение</th>
                   <th>Количество</th>
                   <th>Доп.инф.</th>
                   <th>Действие</th>
               </tr>
               <tr ng-repeat="doc in requestDocument.docs">
                   <td>{{$index + 1}}</td>
                   <td>{{doc.material.name}}</td>
                   <td>{{doc.measure}}</td>
                   <td>{{doc.amount}}</td>
                   <td>{{doc.notes}}</td>
                   <td>
                       <button class="btn btn-xs btn-danger" ng-click="remove_doc(doc)">
                           <i class="glyphicon glyphicon-remove-sign"></i>
                       </button>
                   </td>
               </tr>
               <tr>
                   <td>
                       +
                   </td>
                   <td>
                       <div class="form-group">
                           <div class="controls">
                               <input type="text" ng-model="new_material" typeahead="material as material.name for material in findMaterials($viewValue)" class="form-control" placeholder="Название" required>
                           </div>
                       </div>
                   </td>
                   <td>
                       <div class="form-group">
                           <div class="controls">
                               <input type="text" ng-model="measure" typeahead="measure for measure in measures | filter:$viewValue | limitTo:8" class="form-control" placeholder="Измерение" required>
                           </div>
                       </div>
                   </td>
                   <td>
                       <div class="form-group">
                           <div class="controls">
                               <input type="number" data-ng-model="amount" class="form-control" placeholder="Количество" required>
                           </div>
                       </div>
                   </td>
                   <td>
                       <div class="form-group">
                           <div class="controls">
                               <input type="text" data-ng-model="notes" class="form-control" placeholder="доп.инф." required>
                           </div>
                       </div>
                   </td>
                   <td>
                       <button class="btn btn-xs btn-primary" ng-click="create_document()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                   </td>
               </tr>
           </table>
           <span ng-show="clicked"><div class="alert alert-success" role="alert">Успешно отправлено</div></span>
           <button ng-show="requestDocument.$resolved && !clicked"  ng-init="clicked = false" class="btn btn-primary" ng-click="create_update_request_document(); clicked = true" ng-disabled="clicked">Отправить</button>
       </div>
    </div>
</section>
