<section data-ng-controller="RequestDocumentsModeratorController" data-ng-init="findOneAndPatch()">
	<div>
		<h1>ID: {{requestDocument.excel_id}}</h1>

		<h4>Город: {{requestDocument.client.city}}</h4>

	</div>
	<div>
		<table border="1"  class="table table-bordered">
			<tr>
				<td>№</td>
				<td>Название</td>
				<td>Измерение</td>
				<td>Количество</td>
				<td>Доп.информ</td>
				<td colspan="6">
					<table class="table " style="width:100%;margin-bottom: 0;">
						<tr width="100%">
							<td colspan="6" align="center">Ответы поставщиков</td>
						</tr>
						<tr>
							<td width="10%">Цена</td>
							<td width="15%">Цена с доставкой</td>
							<td width="15%">В наличии</td>
							<td width="20%">Комментарий</td>
							<td width="30%">Поставщик</td>
							<td width="10%">Выбрать</td>
						</tr>
					</table>
				</td>
				<td>Цена менеджеру</td>
				<td>Цена с доставкой менеджеру</td>
			</tr>
			<tr ng-repeat="doc in requestDocument.docs" style="width:100%">
				<td>{{$index + 1}}</td>
				<td>{{doc.material.name}}</td>
				<td>{{doc.measure}}</td>
				<td>{{doc.amount}}</td>
				<td>{{doc.notes}}</td>
				<td colspan="6" style="width:50%">
					<table border="0"  class="table " style="width:100%">
						<tr ng-init="newResponse = providerResponses(doc.responses_documents, true)">
							<td width="10%">

							</td>
							<td width="15%">

							</td>
							<td width="15%">
								<input type="checkbox" ng-model="newResponse.answer.exist">
							</td>
							<td width="20%">
								<input type="text" ng-model="newResponse.answer.notes" style="width: 100%">
							</td>
							<td width="30%">
								{{newResponse.provider_email}}
							</td>
							<td width="10%">
								<input type="radio" id="{{doc._id + 999}}" ng-model="newResponse.selected" ng-value="true" name="{{doc._id}}" ng-change="set_radio(doc, newResponse)"/>
							</td>
						</tr>
						<tr  ng-repeat="response in providerResponses(doc.responses_documents, false)" ng-class="{selected: response.selected}">
							<td width="10%">
								{{response.answer.price}}
							</td>
							<td width="15%">
								{{response.answer.price_deliver}}
							</td>
							<td width="15%">
								<span class="glyphicon glyphicon-ok" ng-show="response.answer.exist"></span>
								<span class="glyphicon glyphicon-remove" ng-show="!response.answer.exist"></span>
							</td>
							<td width="20%">
								{{response.answer.notes}}
							</td>
							<td width="30%">
								{{response.provider_email}}
							</td>
							<td width="10%">
								<input type="radio" id="{{doc._id + $index}}" ng-model="response.selected" ng-value="true" name="{{doc._id}}" ng-change="set_radio(doc, response)"/>
							</td>
						</tr>
					</table>
				</td>
				<td>

					<input type="number" ng-model="doc.self_price" style="width:100px"/>
				</td>
				<td>

					<input type="number" ng-model="doc.self_price_deliver"style="width:100px"/>
				</td>
			</tr>
		</table>
	</div>
	<hr/>
	<div>
		<a data-ng-if="requestDocument.file_src" ng-href="uploads/{{requestDocument.file_src}}" >Просмотреть документ</a>
	</div>
	<br>

	<button class="btn btn-danger" ng-hide="requestDocument.locked" ng-click="save_responses(lock)">Отправить</button>
	<button class="btn btn-danger" ng-show="requestDocument.locked" ng-click="unlock_request_document()">Заблокирован, Разблокируйте</button>
</section>
