<section data-ng-controller="RequestDocumentsManagerController" data-ng-init="findOne()">
    <div class="row">
        <span ng-show="clicked"><div class="alert alert-success" role="alert">Успешно отправлено</div></span>
        <div class="col-md-3 col-lg-3">

            <h4>ID: {{requestDocument.excel_id}}</h4>
            <h4>Email: {{requestDocument.client.email}}</h4>
            <h4>Имя: {{requestDocument.client.name}}</h4>
            <h4>Город: {{requestDocument.client.city}}</h4>

        </div>
        <div class="col-md-9 col-lg-9" class="form-group">
            <table border="1" class="table table-bordered">
                <caption>Материалы</caption>
                <tr>

                    <th>№</th>
                    <th>Название</th>
                    <th>Измерение</th>
                    <th>Количество</th>
                    <th>Доп.информ.</th>
                    <th>Цена</th>
                    <th>Цена с дост.</th>
                    <th>В наличий</th>
                    <th>Комментарий</th>
                    <th>Накидка</th>
                </tr>
                <tr ng-repeat="doc in requestDocument.docs">
                    <td>{{$index + 1}}</td>
                    <td>{{doc.material.name}}</td>
                    <td>{{doc.measure}}</td>
                    <td>{{doc.amount}}</td>
                    <td>{{doc.notes}}</td>
                    <td>
                        <span ng-show="first_selected_response(doc)">
                         <!--{{first_selected_response(doc).answer.price}}-->
                            {{doc.self_price}}
                        </span>
                        <span ng-show="!first_selected_response(doc)">
                            нет ответа
                        </span>
                    </td>
                    <td>
                         <span ng-show="first_selected_response(doc)">
                         <!--{{first_selected_response(doc).answer.price_deliver}}-->
                             {{doc.self_price_deliver}}
                        </span>
                        <span ng-show="!first_selected_response(doc)">
                            нет ответа
                        </span>
                    </td>
                    <td>
                         <span ng-show="first_selected_response(doc)">
                             <span class="glyphicon glyphicon-ok" ng-show="first_selected_response(doc).answer.exist"></span>
                             <span class="glyphicon glyphicon-remove" ng-show="!first_selected_response(doc).answer.exist"></span>
                        </span>
                        <span ng-show="!first_selected_response(doc)">
                            нет ответа
                        </span>
                    </td>
                    <td>
                         <span ng-show="first_selected_response(doc)">
                        {{first_selected_response(doc).answer.notes}}
                        </span>
                        <span ng-show="!first_selected_response(doc)">
                            нет ответа
                        </span>
                    </td>
                    <td>
                        <span ng-show="first_selected_response(doc)">
                            <input id="{{doc._id}}" type="number" ng-model="doc.overload" style="width:100px"/>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <button ng-show="!clicked" class="btn btn-success" ng-init="clicked = false" ng-click="save(send_client); clicked = true">Отправить</button>
        <span ng-show="clicked">Успешно отправлено</span>
    </div>
</section>
