<section data-ng-controller="RequestDocumentsController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-md-3 col-lg-3">
			<h4>ID: {{requestDocument.excel_id}}</h4>
			<h4>Город: {{requestDocument.client.city}}</h4>
		</div>
		<div class="col-md-9 col-lg-9" class="form-group">
			<table border="1" class="table table-bordered">
				<caption>Материалы</caption>
				<tr>
					<th>№</th>
					<th>Название</th>
					<th>Измерение</th>
					<th>Количество</th>
					<th>Доп.информ</th>
					<th>Выбрать</th>
				</tr>
				<tr ng-repeat="doc in requestDocument.docs">
					<td>{{$index + 1}}</td>
					<td>{{doc.material.name}}</td>
					<td>{{doc.measure}}</td>
					<td>{{doc.amount}}</td>
					<td>{{doc.notes}}</td>
					<td>
						<input id="selection{{$index + 1}}" type="checkbox" ng-model="doc.selected"/>
						<label for="selection{{$index + 1}}">Выбрать</label>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<hr/>
	<div ng-init="findProviders()">
		<div
			isteven-multi-select
			input-model="providers"
			output-model="selected_providers"
			button-label="name"
			item-label="name email"
			tick-property="ticked">
		</div>
		<br/>
		<button class="btn btn-primary" ng-init="clicked = false" ng-click="send(); clicked = true" >Отправить</button>
		<span ng-show="clicked">Успешно отправлено</span>
		<a href="#!/response-documents/{{requestDocument._id}}?m={{authentication.user.email}}">Ответить сразу</a>
	</div>
</section>
