<section class="row" data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
		<h3 class="text-center">Войти</h3>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<br>
				<div class="form-group">
				<div data-ng-show="error" class="text-center text-danger input-group-lg">
					<div class="alert alert-danger" role="alert">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
				</div>
				<div class="form-group">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" >
						<i class="text-muted glyphicon glyphicon-user"></i>
					</span>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.email" placeholder="Логин">
				</div>
				</div>
				<div class="form-group">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" >
						<i class="text-muted glyphicon glyphicon-asterisk"></i>
					</span>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Пароль">
				</div>
				</div>
				</br>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-success btn-lg btn-block">Войти</button>
				</div>
				<div class="forgot-password text-center">
					<a href="/#!/password/forgot">Забыли пароль?</a> &nbsp; или &nbsp;
					<a href="/#!/signup">Зарегистрироваться</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>
