<section class="row" data-ng-controller="AuthenticationController" xmlns="http://www.w3.org/1999/html">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 login-form-bg">
	<h3 class="text-center">Регистрация</h3>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<br>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger input-group-lg">
						<div class="alert alert-danger" role="alert">
						<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >
							<i class="text-muted glyphicon glyphicon-star"></i>
						</span>
						<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Имя">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >
							<i class="text-muted glyphicon glyphicon-star"></i>
						</span>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Фамилия">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >
							<i class="text-muted glyphicon glyphicon-envelope"></i>
						</span>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="role" id="role" name="role" class="form-control" data-ng-model="credentials.role" placeholder="Admin">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<span class="input-group-addon" >
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Пароль">
					</div>
				</div>
				</br>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-success btn-block">Зарегистрироваться</button>
				</div>
			</fieldset>
			<div class="text-center form-group">
				&nbsp; или &nbsp;	<a href="/#!/signin" class="show-signup">Войти</a>
			</div>
		</form>
	</div>
</section>
