.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	color: #FBFBEF;
	font-size: 120px;
	text-shadow: 2px 2px grey;
	position: center;

}
li.selected {
	background: green;
}
table.table.table-bordered td {
	vertical-align: middle;
}