<section data-ng-controller="ResponseDocumentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Ответы поставщиков</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="responseDocument in responseDocuments" data-ng-href="#!/response-documents/{{responseDocument._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="responseDocument.created | date:'medium'"></span>
				by
				<span data-ng-bind="responseDocument.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="responseDocument.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!responseDocuments.$resolved || responseDocuments.length">
    	No Response documents yet, why don't you <a href="/#!/response-documents/create">create one</a>?
    </div>
</section>