<section data-ng-controller="ProvidersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Providers</h1>
    </div>
    <div>
        <table border="1">
            <caption>dummy</caption>
            <tr>
                <th>Provider</th>
                <th>Materials</th>
            </tr>
            <tr>
                <td>
                    <select ng-options="provider._id as provider.name for provider in providers" ng-model="provider_item"></select>
                </td>
                <td>
                    <select multiple ng-options="doc._id as doc.name for doc in docs" ng-model="doc_item"></select>
                </td>
            </tr>
        </table>
    </div>
</section>
