<section data-ng-controller="MaterialsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Materials</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="material in materials" data-ng-href="#!/materials/{{material._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="material.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!materials.$resolved || materials.length">
    	No Materials yet, why don't you <a href="/#!/materials/create">create one</a>?
    </div>
</section>