<section data-ng-controller="MaterialsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="material.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="material.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="material.user.displayName"></span>
		</em>
	</small>
</section>
