<section data-ng-controller="DocsController" ng-init="find()">
    <div class="page-header">
        <h1>New Doc</h1>
    </div>
    <div class="col-md-12">
        <div>
            <label for="excel_id">ID</label>
            <input type="text" id="excel_id" ng-model="requestDocument.excel_id"/>

            <button class="btn btn-primary" ng-click="findRequestDocument()">Find</button>
            <hr/>

            <label for="name">Name</label>
            <input type="text" id="name" ng-model="requestDocument.name"/>

            <label for="email">Email</label>
            <input type="text" id="email" ng-model="requestDocument.email"/>

            <label for="phone">Phone</label>
            <input type="text" id="phone" ng-model="requestDocument.phone"/>

            <label for="city">City</label>
            <input type="text" id="city" ng-model="requestDocument.city"/>
        </div>
        <hr/>
        <table border="1">
            <caption>Docs</caption>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Measure</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="doc in requestDocument.docs">
                <td>{{$index + 1}}</td>
                <td>{{doc.name}}</td>
                <td>{{doc.measure}}</td>
                <td>{{doc.amount}}</td>
                <td>{{doc.notes}}</td>
                <td><button class="btn btn-xs btn-danger" ng-click="remove(doc)">-</button></td>
            </tr>
            <tr>
                <td>
                    new
                </td>
                <td>
                    <div class="form-group">
                    <div class="controls">
                        <input type="text" data-ng-model="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" data-ng-model="measure" class="form-control" placeholder="Measurement" required>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="controls">
                            <input type="number" data-ng-model="amount" class="form-control" placeholder="Amount" required>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" data-ng-model="notes" class="form-control" placeholder="Options" required>
                        </div>
                    </div>
                </td>
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="create()">+</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" ng-click="create_update_request_document()">Create/Update request document</button>
    </div>
</section>
