<section data-ng-controller="DocsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Docs</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="doc in docs" data-ng-href="#!/docs/{{doc._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="doc.created | date:'medium'"></span>
				by
				<span data-ng-bind="doc.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="doc.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!docs.$resolved || docs.length">
    	No Docs yet, why don't you <a href="/#!/docs/create">create one</a>?
    </div>
</section>