<section data-ng-controller="DocsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="doc.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == doc.user._id))">
		<a class="btn btn-primary" href="/#!/docs/{{doc._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="doc.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="doc.user.displayName"></span>
		</em>
	</small>
	<p>{{doc.name}}</p>
	<p>{{doc.measure}}</p>
	<p>{{doc.amount}}</p>
	<p>{{doc.notes}}</p>
</section>
