<h3>Hi, dear</h3>
<table>
    <caption>Материалы</caption>
    <table border="1" class="table table-bordered">
        <tr>
            <td>Название</td>
            <td>Измерение</td>
            <td>Количество</td>
            <td>Доп.информ</td>
            <td colspan="2">
                <table class="table " style="width:100%;margin-bottom: 0;">
                    <tr width="100%">
                        <td colspan="2" align="center">Ответы</td>
                    </tr>
                    <tr>
                        <td width="10%">Цена</td>
                        <td width="15%">Цена с доставкой</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr ng-repeat="doc in requestDocument.docs" style="width:100%">
            {% for doc in requestDocument.docs %}
                <tr style="width:100%">
                    <td style="width:20%">{{doc.material.name}}</td>
                    <td style="width:10%">{{doc.measure}}</td>
                    <td style="width:10%">{{doc.amount}}</td>
                    <td style="width:30%">{{doc.notes}}</td>
                    <td colspan="2" style="width:20%">
                        <table border="0" class="table " style="width:100%">
                            {% for response in doc %}
                            <tr>
                                <td width="10%">
                                    {{response.self_price+response.overload}}
                                </td>
                                <td width="15%">
                                    {{response.self_price_deliver+response.overload}}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</table>
